<div class='list-group'>
    <div class='flex align-center justify-beetwen list-group-item list-group-item-action'>
        <div>
          <%= link_to group_icon, user %>
          <%= link_to user.name, user %>
        </div>
        <div class='flex justify-beetwen align-center'>
          <%= render 'users/action', user: user %>
        </div>
    </div>
</div>