<div class='bg-white img-rounded p-4'>
<h2>New transaction</h2>

<%= render 'form', transaction: @transaction %>

<%= link_to 'Create group', new_group_path %>
<%= link_to 'Back', transactions_path %>
</div>